*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
html,body{
    background-color:#111;
    color: rgb(189, 177, 177);
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main{
    margin: 20px;
    padding: 30px;
    background-color:#111;
    border-radius: 40px;
    box-shadow:0 0 25px rgba(138, 191, 23, 0.4);
}
 #id1{
    text-align: center;
    padding: 20px;
    
    
}
h3{
    height: 30px;
    width: 180px;
    background-color: orangered;
    color: #000;
    border: 2px solid black;
    margin-left: 80px;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
}
#course1 pre{
    margin-top: 20px;
    margin-left: 80px;
    color: wheat;
    font-weight: bolder;

}


.image{
    flex: 1;
    text-align: center;
    padding: 20px;

    

}

.image img{
    width: 435px;
    height: 450px;
    float: left;
    border-radius: 50% 0 0 50%;
    object-fit: cover;
    border: 20px solid orange;
    background-color: orange;
    margin-left: 600px;
    padding-right: 90px;
    position: relative;
    top: -200px;
    right: -5px;
    transition:0.6s;
    

}
#circle{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px;
    flex-shrink: 0;

}
#circle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image img:hover{
   transform:scale(1.05);
}
.second  img{
    width: 435px;
    height: 450px;
    border-radius:0 50% 50% 0;
    object-fit: cover;
    border: 20px solid orange;
    background-color: orange;
    padding-left: 90px;
    margin-left: 0;
    margin-right: 100px;
    position: relative;
    left: 0;
    top:-70px;
    left: -30px;
    transition: 0.6s;
    flex-shrink: 0;

    
}
.second img:hover{
    transform: scale(1.05);

}
.courses02 h3{
    margin-left: 800px;
    position: relative;
    top: -400px;
    text-align: center;
}
#course2 pre{
    margin-top: 20px;
    color:wheat;
    margin-left: 800px;
    position: relative;
    top: -400px;
    font-weight: bolder

}
.courses03 h3{
    margin-left: 80px;
    position: relative;
    top: -200px;
    text-align: center;

}

#course3 pre{
    margin-top: 20px;
    color: wheat;
    margin-left: 80px;
    position: relative;
    top: -190px;
    font-weight: bolder;
    
}
.third img{
    width: 435px;
    height: 450px;
    float: left;
    border-radius: 50% 0 0 50%;
    object-fit: cover;
    border: 20px solid orange;
    background-color: orange;
    margin-left:600px;
    padding-right:90px;
    position: relative;
    top: -400px;
    right: -25px;
    transition: o.6s;
}

.third img:hover{
    transform: scale(1.05);

}
#address{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:yellow;
    text-align: center;
    font-size: xx-large;
}

    